openapi: 3.0.3
info:
  contact:
    email: support@vertexvis.com
    name: Vertex API support
    url: https://developer.vertexvis.com/docs/support
  description: |
    The Vertex distributed cloud rendering platform includes a set of APIs and SDKs, which together allow easily integrating 3D product data into your business application.

    See our [Developer Guides](https://developer.vertexvis.com/docs/guides/render-your-first-scene) to get started.

    Notes about the Postman collection and API Reference code samples:
      - They include all required and optional body parameters for completeness. Remove any optional parameters as desired.
      - They use auto-generated IDs and other values that may share the same value for ease of documentation only. In actual requests and responses, the IDs should uniquely identify their corresponding resource.
  termsOfService: https://vertexvis.com/terms-of-use
  title: Vertex Platform API
  version: '1.0'
  x-logo:
    url: https://vertexvis.com/themes/custom/sparrow/img/vertex-logo.png
    backgroundColor: '#ffffff'
    altText: Vertex Software
externalDocs:
  description: Getting started guides
  url: https://developer.vertexvis.com/docs/guides/render-your-first-scene
servers:
  - url: https://platform.vertexvis.com
  - url: https://platform.platdev.vertexvis.io
tags:
  - name: accounts
  - name: applications
  - name: batches
  - name: files
  - name: geometry-sets
  - name: hits
  - name: oauth2
  - name: part-renditions
  - name: part-revisions
  - name: parts
  - name: scene-alterations
  - name: scene-item-overrides
  - name: scene-items
  - name: scene-views
  - name: scenes
  - name: scene-view-states
  - name: stream-keys
  - name: translation-inspections
  - name: webhook-subscriptions
paths:
  /accounts:
    post:
      description: Create an `account`.
      operationId: createAccount
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Created
          headers:
            location:
              $ref: '#/components/headers/Location'
        '400':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '400'
                    code: BadRequest
                    title: Invalid, missing, or out-of-range request parameters.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Bad Request
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2Internal:
            - accounts.*
            - accounts.write
      tags:
        - accounts
  /accounts/{id}:
    delete:
      description: Delete an `account`.
      operationId: deleteAccount
      parameters:
        - description: The `account` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      responses:
        '204':
          description: No Content
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2Internal:
            - accounts.*
            - accounts.write
      tags:
        - accounts
    get:
      description: Get an `account`.
      operationId: getAccount
      parameters:
        - description: The `account` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Account'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2Internal:
            - accounts.*
            - accounts.read
      tags:
        - accounts
    patch:
      description: Update an `account`.
      operationId: updateAccount
      parameters:
        - description: The `account` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateAccountRequest'
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Account'
          description: OK
        '400':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '400'
                    code: BadRequest
                    title: Invalid, missing, or out-of-range request parameters.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Bad Request
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2Internal:
            - accounts.*
            - accounts.write
      tags:
        - accounts
  /accounts/{id}/applications:
    post:
      description: Create an `application` for an `account`.
      operationId: createApplicationForAccount
      parameters:
        - description: The `account` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AdminCreateApplicationRequest'
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreatedApplication'
          description: Created
          headers:
            location:
              $ref: '#/components/headers/Location'
        '400':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '400'
                    code: BadRequest
                    title: Invalid, missing, or out-of-range request parameters.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Bad Request
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2Internal:
            - accounts.*
            - accounts.write
      tags:
        - accounts
      x-scala-package: accounts
  /applications:
    get:
      description: Get `applications`.
      operationId: getApplications
      parameters:
        - description: The cursor for the next page of items.
          explode: true
          in: query
          name: page[cursor]
          required: false
          schema:
            example: cHJkMDVFR2RLag==
            type: string
          style: form
        - description: The number of items to return.
          explode: true
          in: query
          name: page[size]
          required: false
          schema:
            example: 10
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApplicationList'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - applications
    post:
      description: Create an OAuth2 `application`.
      operationId: createApplication
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreatedApplication'
          description: Created
          headers:
            location:
              $ref: '#/components/headers/Location'
        '400':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '400'
                    code: BadRequest
                    title: Invalid, missing, or out-of-range request parameters.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Bad Request
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - applications
  /applications/{id}:
    delete:
      description: Delete an `application`.
      operationId: deleteApplication
      parameters:
        - description: The `application` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      responses:
        '204':
          description: No Content
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - applications
    get:
      description: Get an `application`.
      operationId: getApplication
      parameters:
        - description: The `application` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Application'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - applications
    patch:
      description: Update an `application`.
      operationId: updateApplication
      parameters:
        - description: The `application` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationRequest'
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Application'
          description: OK
        '400':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '400'
                    code: BadRequest
                    title: Invalid, missing, or out-of-range request parameters.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Bad Request
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - applications
  /batches:
    post:
      description:
        Create a `batch`. This API is asynchronous, returning the location
        of a `queued-batch`. Check the status via the getQueuedBatch API.
      operationId: createBatch
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateBatchRequest'
        required: true
      responses:
        '202':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/QueuedJob'
          description: Accepted
          headers:
            content-location:
              $ref: '#/components/headers/ContentLocation'
        '400':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '400'
                    code: BadRequest
                    title: Invalid, missing, or out-of-range request parameters.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Bad Request
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - batches
  /batches/{id}:
    get:
      description: Get a `batch` by ID.
      operationId: getBatch
      parameters:
        - description: The `file` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Batch'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - batches
  /queued-batches/{id}:
    get:
      description:
        Get a `queued-batch`. The response is either the status if `running`
        or `error` or, upon completion, redirects to the created `batch`.
      operationId: getQueuedBatch
      parameters:
        - description: The `queued-batch` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/QueuedJob'
          description: OK
        '301':
          description: Moved Permanently
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - batches
  /files:
    get:
      description: Get `files`.
      operationId: getFiles
      parameters:
        - description: The cursor for the next page of items.
          explode: true
          in: query
          name: page[cursor]
          required: false
          schema:
            example: cHJkMDVFR2RLag==
            type: string
          style: form
        - description: The number of items to return.
          explode: true
          in: query
          name: page[size]
          required: false
          schema:
            example: 10
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
        - description: Comma-separated list of supplied IDs to filter on.
          explode: true
          in: query
          name: filter[suppliedId]
          required: false
          schema:
            example: some-id-1,some-id-2
            maxLength: 1024
            type: string
          style: form
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FileList'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - files
    post:
      description:
        Create a `file`. Once created, upload file content via the uploadFile
        API. For details including supported file formats, see our [Import data](https://developer.vertexvis.com/docs/guides/import-data-with-api)
        guide.
      operationId: createFile
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateFileRequest'
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FileMetadata'
          description: Created
          headers:
            location:
              $ref: '#/components/headers/Location'
        '400':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '400'
                    code: BadRequest
                    title: Invalid, missing, or out-of-range request parameters.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Bad Request
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - files
  /files/{id}:
    delete:
      description: Delete a `file`.
      operationId: deleteFile
      parameters:
        - description: The `file` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FileMetadata'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - files
    get:
      description: Get a `file` by ID.
      operationId: getFile
      parameters:
        - description: The `file` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/FileMetadata'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - files
    post:
      description:
        Upload a `file`. Once uploaded, create either parts or geometry
        sets via the createPart or createGeometrySet APIs.
      operationId: uploadFile
      parameters:
        - description: The `file` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
        required: true
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '400'
                    code: BadRequest
                    title: Invalid, missing, or out-of-range request parameters.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Bad Request
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - files
  /geometry-sets:
    get:
      description: Get `geometry-sets`.
      operationId: getGeometrySets
      parameters:
        - description: The cursor for the next page of items.
          explode: true
          in: query
          name: page[cursor]
          required: false
          schema:
            example: cHJkMDVFR2RLag==
            type: string
          style: form
        - description: The number of items to return.
          explode: true
          in: query
          name: page[size]
          required: false
          schema:
            example: 10
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GeometrySetList'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - geometry-sets
    post:
      description:
        Create a `geometry-set`. Once created, create scenes via the createScene
        API. For details, see our [Import data](https://developer.vertexvis.com/docs/guides/import-data-with-api)
        guide.
      operationId: createGeometrySet
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateGeometrySetRequest'
        required: true
      responses:
        '202':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/QueuedJob'
          description: Accepted
          headers:
            content-location:
              $ref: '#/components/headers/ContentLocation'
        '400':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '400'
                    code: BadRequest
                    title: Invalid, missing, or out-of-range request parameters.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Bad Request
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - geometry-sets
  /geometry-sets/{id}:
    get:
      description: Get a `geometry-set` by ID.
      operationId: getGeometrySet
      parameters:
        - description: The `geometry-set` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GeometrySet'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - geometry-sets
  /scene-views/{id}/hits:
    post:
      description: Create a `hit` for a `scene-view`.
      operationId: createSceneViewHit
      parameters:
        - description: Comma-separated list of relationships to include in response.
          explode: true
          in: query
          name: include
          required: false
          schema:
            example: results.sceneItem.source
            maxLength: 32
            type: string
          style: form
        - description: The `scene-view` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
        - description:
            Comma-separated list of fields to return in response. An empty
            value returns no fields. Due to its potential size, metadata is only returned
            if explicitly requested.
          explode: true
          in: query
          name: fields[part-revision]
          required: false
          schema:
            example: created,suppliedId,metadata
            maxLength: 32
            type: string
          style: form
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateHitRequest'
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Hit'
          description: Created
          headers:
            location:
              $ref: '#/components/headers/Location'
        '400':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '400'
                    code: BadRequest
                    title: Invalid, missing, or out-of-range request parameters.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Bad Request
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - hits
  /scenes/{id}/hits:
    post:
      description: Create a `hit` for a `scene`.
      operationId: createSceneHit
      parameters:
        - description: Comma-separated list of relationships to include in response.
          explode: true
          in: query
          name: include
          required: false
          schema:
            example: results.sceneItem.source
            maxLength: 32
            type: string
          style: form
        - description: The `scene` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
        - description:
            Comma-separated list of fields to return in response. An empty
            value returns no fields. Due to its potential size, metadata is only returned
            if explicitly requested.
          explode: true
          in: query
          name: fields[part-revision]
          required: false
          schema:
            example: created,suppliedId,metadata
            maxLength: 32
            type: string
          style: form
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateHitRequest'
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Hit'
          description: Created
          headers:
            location:
              $ref: '#/components/headers/Location'
        '400':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '400'
                    code: BadRequest
                    title: Invalid, missing, or out-of-range request parameters.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Bad Request
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - hits
  /oauth2/token:
    post:
      description:
        Create an OAuth2 access token. For details, see our [Authentication](https://developer.vertexvis.com/docs/guides/authentication)
        guide.
      operationId: createToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateTokenRequest'
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/OAuth2Token'
          description: OK
        '400':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/OAuth2BadRequest'
          description: Invalid or missing request.
      security:
        - basicAuth: []
      tags:
        - oauth2
  /oauth2/revoke:
    post:
      description: Revoke an OAuth2 access token.
      operationId: revokeToken
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RevokeOAuth2TokenRequest'
        required: true
      responses:
        '204':
          description: No Content
      security:
        - basicAuth: []
      tags:
        - oauth2
  /oauth2/auth/requests/login/accept:
    post:
      description: Accept Login Challenge with subject & login challenge
      operationId: adminAcceptLogin
      parameters:
        - description: Login Challenge ID from oauth2 flow
          explode: true
          in: query
          name: login_challenge
          required: true
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AdminLoginAcceptRequest'
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AdminRedirectTo'
          description: OK
        '400':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '400'
                    code: BadRequest
                    title: Invalid, missing, or out-of-range request parameters.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Bad Request
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
      security:
        - OAuth2Internal:
            - admin-login
      tags:
        - oauth2
  /oauth2/auth/requests/consent/accept:
    post:
      description: Accept Consent Challenge to login.
      operationId: adminAcceptConsent
      parameters:
        - description: Challenge ID from oauth2 flow
          explode: true
          in: query
          name: challenge
          required: true
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AdminConsentAcceptRequest'
        required: false
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AdminRedirectTo'
          description: OK
        '400':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '400'
                    code: BadRequest
                    title: Invalid, missing, or out-of-range request parameters.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Bad Request
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
      security:
        - OAuth2Internal:
            - admin-login
      tags:
        - oauth2
  /part-renditions:
    get:
      description: Get `part-renditions` with an optional filter.
      operationId: getPartRenditions
      parameters:
        - description: The cursor for the next page of items.
          explode: true
          in: query
          name: page[cursor]
          required: false
          schema:
            example: cHJkMDVFR2RLag==
            type: string
          style: form
        - description: The number of items to return.
          explode: true
          in: query
          name: page[size]
          required: false
          schema:
            example: 10
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
        - description: Comma-separated list of supplied IDs to filter on.
          explode: true
          in: query
          name: filter[suppliedId]
          required: false
          schema:
            example: some-id-1,some-id-2
            maxLength: 1024
            type: string
          style: form
        - description: A revision ID to filter on.
          explode: true
          in: query
          name: filter[revisionId]
          required: false
          schema:
            $ref: '#/components/schemas/Uuid'
          style: form
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PartRenditionList'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - part-renditions
  /part-renditions/{id}:
    get:
      description: Get a `part-rendition` by ID.
      operationId: getPartRendition
      parameters:
        - description: The `part-rendition` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PartRendition'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - part-renditions
  /part-revisions/{id}:
    delete:
      description: Delete a `part-revision`.
      operationId: deletePartRevision
      parameters:
        - description: The `part-revision` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      responses:
        '202':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/QueuedJob'
          description: Accepted
          headers:
            content-location:
              $ref: '#/components/headers/ContentLocation'
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - part-revisions
    get:
      description: Get a `part-revision` by ID.
      operationId: getPartRevision
      parameters:
        - description: The `part-revision` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
        - description:
            Comma-separated list of fields to return in response. An empty
            value returns no fields. Due to its potential size, metadata is only returned
            if explicitly requested.
          explode: true
          in: query
          name: fields[part-revision]
          required: false
          schema:
            example: created,suppliedId,metadata
            maxLength: 32
            type: string
          style: form
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PartRevision'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - part-revisions
      x-scala-package: translations
    patch:
      description:
        "Update a `part-revision`. When given a `file` relationship as\
        \ a payload, this will invoke a translation job, similar to the POST /parts\
        \ endpoint. The response code will be a 202 and will respond with an async\
        \ workflow, and return an Accepted[QueuedJob]. The geometry of the part and\
        \ all of its children will be replaced with the geometry specified within\
        \ the translated file given from this relationship. Some of the properties\
        \ given here are only used for the translation of the file. Namely, `indexMetadata`,\
        \ `name`, `suppliedIdKey`, `suppliedRevisionIdKey`, and `suppliedInstanceIdKey`.\
        \ Note that geometry updates are eventually consistent and will not update\
        \ existing scenes.  \nFor updates to the revision when the file relationship\
        \ is not present will respond with a standard 200 ok code when successful.\
        \ Note that metadata updates are eventually consistent and will not update\
        \ existing scenes.   To view updated metadata within a scene, a new scene\
        \ must be created or the updated part-revision must be removed and re-added\
        \ to an existing scene.\n"
      operationId: updatePartRevision
      parameters:
        - description: The `part-revision` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdatePartRevisionRequest'
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PartRevision'
          description: OK
        '202':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/QueuedJob'
          description: Accepted
          headers:
            content-location:
              $ref: '#/components/headers/ContentLocation'
        '400':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '400'
                    code: BadRequest
                    title: Invalid, missing, or out-of-range request parameters.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Bad Request
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - part-revisions
  /part-revisions/{id}/part-renditions:
    post:
      operationId: createPartRendition
      parameters:
        - description: The `part-revision` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreatePartRenditionRequest'
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PartRendition'
          description: OK
        '202':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/QueuedJob'
          description: Accepted
          headers:
            content-location:
              $ref: '#/components/headers/ContentLocation'
        '400':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '400'
                    code: BadRequest
                    title: Invalid, missing, or out-of-range request parameters.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Bad Request
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - part-renditions
  /part-revisions/{id}/image:
    get:
      description: Get a rendered image of a `part-revision`.
      operationId: renderPartRevision
      parameters:
        - description: The `part-revision` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
        - description: The height of the image to render.
          explode: true
          in: query
          name: height
          required: false
          schema:
            example: 1000
            format: int32
            maximum: 2160
            minimum: 1
            type: integer
          style: form
        - description: The width of the image to render.
          explode: true
          in: query
          name: width
          required: false
          schema:
            example: 1000
            format: int32
            maximum: 3840
            minimum: 1
            type: integer
          style: form
        - description: The `camera` position vector.
          explode: true
          in: query
          name: camera[position]
          required: false
          schema:
            $ref: '#/components/schemas/Vector3'
          style: deepObject
        - description: The `camera` up vector.
          explode: true
          in: query
          name: camera[up]
          required: false
          schema:
            $ref: '#/components/schemas/Vector3'
          style: deepObject
        - description: The `camera` lookAt vector.
          explode: true
          in: query
          name: camera[lookAt]
          required: false
          schema:
            $ref: '#/components/schemas/Vector3'
          style: deepObject
        - description: The perspective camera position.
          explode: true
          in: query
          name: camera[perspective][position]
          required: false
          schema:
            $ref: '#/components/schemas/Vector3'
          style: deepObject
        - description: The perspective camera look at position.
          explode: true
          in: query
          name: camera[perspective][lookAt]
          required: false
          schema:
            $ref: '#/components/schemas/Vector3'
          style: deepObject
        - description: The perspective camera up vector.
          explode: true
          in: query
          name: camera[perspective][up]
          required: false
          schema:
            $ref: '#/components/schemas/Vector3'
          style: deepObject
        - description: The orthographic camera view vector.
          explode: true
          in: query
          name: camera[orthographic][viewVector]
          required: false
          schema:
            $ref: '#/components/schemas/Vector3'
          style: deepObject
        - description: The orthographic camera look at position.
          explode: true
          in: query
          name: camera[orthographic][lookAt]
          required: false
          schema:
            $ref: '#/components/schemas/Vector3'
          style: deepObject
        - description: The orthographic camera up vector.
          explode: true
          in: query
          name: camera[orthographic][up]
          required: false
          schema:
            $ref: '#/components/schemas/Vector3'
          style: deepObject
        - description: The orthographic field-of-view height.
          explode: true
          in: query
          name: camera[orthographic][fovHeight]
          required: false
          schema:
            exclusiveMinimum: true
            minimum: 0
            type: number
          style: form
      responses:
        '200':
          content:
            image/jpeg:
              schema:
                format: binary
                type: string
            image/png:
              schema:
                format: binary
                type: string
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
        '504':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '504'
                    code: GatewayTimeout
                    title: Request timed out.
              schema:
                $ref: '#/components/schemas/Failure'
          description: GatewayTimeout
      security:
        - OAuth2: []
      tags:
        - part-revisions
  /parts/{id}/part-revisions:
    get:
      description: Get `part-revisions` for a `part`.
      operationId: getPartRevisions
      parameters:
        - description: The `part` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
        - description: The cursor for the next page of items.
          explode: true
          in: query
          name: page[cursor]
          required: false
          schema:
            example: cHJkMDVFR2RLag==
            type: string
          style: form
        - description: The number of items to return.
          explode: true
          in: query
          name: page[size]
          required: false
          schema:
            example: 10
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
        - description: Comma-separated list of supplied IDs to filter on.
          explode: true
          in: query
          name: filter[suppliedId]
          required: false
          schema:
            example: some-id-1,some-id-2
            maxLength: 1024
            type: string
          style: form
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PartRevisionList'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - part-revisions
  /parts:
    get:
      description: Get `parts`.
      operationId: getParts
      parameters:
        - description: The cursor for the next page of items.
          explode: true
          in: query
          name: page[cursor]
          required: false
          schema:
            example: cHJkMDVFR2RLag==
            type: string
          style: form
        - description: The number of items to return.
          explode: true
          in: query
          name: page[size]
          required: false
          schema:
            example: 10
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          style: form
        - description: Comma-separated list of supplied IDs to filter on.
          explode: true
          in: query
          name: filter[suppliedId]
          required: false
          schema:
            example: some-id-1,some-id-2
            maxLength: 1024
            type: string
          style: form
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PartList'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - parts
    post:
      description:
        "Create a `part`.\n\nThis endpoint includes multiple successful\
        \ response codes: [`201`, `202`].\n\nWhen not given a relationship, this endpoint\
        \ will create a part with an empty part revision and return a `201` \nstatus\
        \ code of the part.\n\nWhen given a relationship to translate, this endpoint\
        \ will return a `202` status code with the location of a\n`queued-translation`.\
        \ The status of the translation can be queried via `getQueuedTranslation`.\
        \ After the\ntranslation is complete, a `part` and `part-revision` that references\
        \ the translated geometry.\n\nA unique suppliedId/suppliedRevisionId combination\
        \ will create a new part and new part revision. For instance, sending\nmy-part-id/my-revision-id\
        \ will create a new part and new revision with those corresponding supplied\
        \ ids. To create a new revision for `my-part-id`,\nlikewise you can invoke\
        \ this endpoint with a new revision id: `my-part-id/my-new-revision-id` and\
        \ a new revision will be created for the\nexisting part.\n\nSee our [Import\
        \ Data](https://developer.vertexvis.com/docs/guides/import-data-with-api)\
        \ guides for more\ninformation.\n"
      operationId: createPart
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreatePartRequest'
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Part'
          description: Created Part
        '202':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/QueuedJob'
          description: Accepted
          headers:
            content-location:
              $ref: '#/components/headers/ContentLocation'
        '400':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '400'
                    code: BadRequest
                    title: Invalid, missing, or out-of-range request parameters.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Bad Request
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - parts
  /parts/{id}:
    delete:
      description: Delete a `part`.
      operationId: deletePart
      parameters:
        - description: The `part` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      responses:
        '202':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/QueuedJob'
          description: Accepted
          headers:
            content-location:
              $ref: '#/components/headers/ContentLocation'
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - parts
    get:
      description: Get a `part` by ID.
      operationId: getPart
      parameters:
        - description: Comma-separated list of relationships to include in response.
          explode: true
          in: query
          name: include
          required: false
          schema:
            example: partRevisions
            maxLength: 32
            type: string
          style: form
        - description: The `part` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Part'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - parts
  /queued-part-deletions/{id}:
    get:
      description: Get a `queued-part-deletion` by ID.
      operationId: getQueuedPartDeletion
      parameters:
        - description: The `queued-part-deletion` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/QueuedJob'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - parts
  /queued-part-revision-deletions/{id}:
    get:
      description: Get a `queued-part-revision-deletion` by ID.
      operationId: getQueuedPartRevisionDeletion
      parameters:
        - description: The `queued-part-revision-deletion` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/QueuedJob'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - part-revisions
  /scene-alterations/{id}:
    get:
      description: Get a `scene-alteration` by ID.
      operationId: getSceneAlteration
      parameters:
        - description: The `scene-alteration` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SceneAlteration'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - scene-alterations
  /scene-views/{id}/scene-alterations:
    get:
      description: Get `scene-alterations` for a `scene-view`.
      operationId: getSceneAlterations
      parameters:
        - description: The `scene-view` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SceneAlterationList'
          description: OK
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - scene-alterations
    post:
      description: Create a `scene-alteration` for a `scene-view`.
      operationId: createSceneAlteration
      parameters:
        - description: The `scene-view` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateSceneAlterationRequest'
        required: true
      responses:
        '202':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/QueuedJob'
          description: Accepted
          headers:
            content-location:
              $ref: '#/components/headers/ContentLocation'
        '400':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '400'
                    code: BadRequest
                    title: Invalid, missing, or out-of-range request parameters.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Bad Request
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - scene-alterations
  /queued-scene-alterations/{id}:
    get:
      description: Get a `queued-scene-alteration` by ID.
      operationId: getQueuedSceneAlteration
      parameters:
        - description: The `queued-scene-alteration` ID.
          explode: false
          in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
          style: simple
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/QueuedJob'
          description: OK
        '301':
          description: Moved Permanently
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '401'
                    code: Unauthorized
                    title: Invalid or missing credentials.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unauthorized
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '404'
                    code: NotFound
                    title: The requested resource was not found.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Not Found
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                  - status: '415'
                    code: UnsupportedMediaType
                    title:
                      The provided media type is not supported. Update the Content-Type
                      header to application/vnd.api+json and try again.
              schema:
                $ref: '#/components/schemas/Failure'
          description: Unsupported Media Type
      security:
        - OAuth2: []
      tags:
        - scene-alterations
[...]
